<table class="rr-table ">

  <thead>
    <th>Date</th>
    <th>Type</th>
    <th>Title</th>
    <th></th>
  </thead>

  <% @facade.prompts.each do |prompt| %>
    <tr>
      <td width="15%"><%= Tznet::Format.run('au_datetime', Tznet::Parse::FromI.run(prompt.created_at)) %></td>
      <td width="15%"><%= prompt.kind.titleize %></td>
      <td width=""><%= prompt.title.truncate(50) %></td>

      <% if show_create_release %>
        <td width="20%"><%= link_to 'Create Release', new_project_release_path(pid: prompt.id) %></td>
      <% end %>

      <% if show_delete %>
        <td width="10%">
          <%= link_to discard_project_prompts_path(prompt_id: prompt.id), method: :put, id: 'discard', data: { confirm: 'Are you sure you want to discard this prompt?' } do %>
            <i class="fa fa-times-circle"></i>
          <% end %>
        </td>
      <% end %>

      <% if show_revert %>
        <td width="20%">
          <%= link_to send_to_inbox_project_prompts_path(prompt_id: prompt.id), method: :put  do %>
            <i class="fa fa-undo"></i> Send to Inbox
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
