<div id="modal-container"></div>

<% content_for :title do %>
  <%= @facade.project.title.truncate(50) %>
<% end %>

<%= render 'shared/project_menu' %>

<% if @facade.releases.any? %>
  <div class="row">
    <div class="col-md-12">
      <div style="display: flex; justify-content: space-between; align-items: center; ">

        <h2>All Releases</h2>

        <div>
          <%= link_to new_project_release_path, class: 'btn btn-secondary', style: 'margin-left: 9px', id: 'create-release' do %>
            <i class="fas fa-plus"></i>&nbsp
            Create Release
          <% end %>
        </div>

      </div>
    </div>
  </div>

  <table class="rr-table">
    <thead>
      <th width="20%">Date</th>
      <th>Title</th>
      <th>Category</th>
      <th>Author</th>
      <th></th>
    </thead>
    <% @facade.releases.each do |release| %>
      <tr style="<%= release.draft? ? 'color: #b0b0b0;' : nil %>">
        <td><%= release.created_at %></td>
        <td>
          <% if release.draft? %>
            <span class="draft-indicator">Draft</span>
          <% end %>
          <%= release.title.truncate(50) %>
        </td>
        <td><%= release.category ? release.category.title : '-' %></td>
        <td><%= release.user.full_name %></td>
        <td>
          <%= link_to edit_project_release_path(public_id: release.public_key), method: :get  do %>
            <i class="fas fa-search"></i>
          <% end %>
        </td>

      </tr>
    <% end %>
  </table>
<% else %>
  <div style="text-align: center;">
    <h3>
      Create your first Release
    </h3>

    <p>Get started by adding some Releases for your audience.</p> <p>These will be visible on the <strong><%= @facade.project.title %></strong> feed. </p>
  </br>

  <%= link_to new_project_release_path, class: 'btn btn-secondary', style: 'margin-left: 9px', id: 'create-release' do %>
    <i class="fas fa-plus"></i>&nbsp
    Create Release
  <% end %>
  </div>
<% end %>
