<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>


  <body>

    <div class="rr-container">

      <div class="rr-navbar">

        <%= render 'shared/nav_brand' %>

        <div class="rr-nav-main">
          <%= link_to dashboard_path, class: "rr-nav-link #{current_page?(dashboard_path) ? 'active' : ''}" do %>
            <i class="fas fa-home"></i>&nbsp
            Projects
            <% end %>
            <%= link_to users_path, class: "rr-nav-link #{current_page?(projects_path) ? 'active' : ''}" do %>
              <i class="fas fa-cog"></i>&nbsp
              Settings
            <% end %>
            <%= link_to user_sessions_path, class: 'rr-nav-link pull-right', method: :delete do %>
              <i class="fas fa-sign-out-alt"></i>&nbsp
              Logout
            <% end %>
        </div>
      </div>

      <%= yield %>

    </br>
    </br>
    </br>

    </div>
  </body>
</html>
